.page.portfolio.single .wraped {
  padding: 1.3rem;
  display: block; }

.page.portfolio.single .portfolio-single-header {
  width: 100%;
  height: 27vh;
  margin-bottom: 6vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: var(--the-color); }
  .page.portfolio.single .portfolio-single-header .title {
    font-size: 120%;
    cursor: default; }
    .page.portfolio.single .portfolio-single-header .title span {
      color: var(--the-color);
      background: #3339;
      margin-left: 5px;
      margin-right: 0px;
      padding-left: 5px;
      padding-right: 5px;
      cursor: default; }
      .page.portfolio.single .portfolio-single-header .title span:hover {
        color: #333e;
        background: var(--the-color); }
  .page.portfolio.single .portfolio-single-header .sub-title {
    font-size: 200%;
    cursor: default;
    margin-top: 15px; }

.page.portfolio.single .content .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .page.portfolio.single .content .details .image {
    -ms-flex-preferred-size: 35%;
    flex-basis: 35%;
    background: var(--the-color); }
  .page.portfolio.single .content .details .info {
    -ms-flex-preferred-size: 65%;
    flex-basis: 65%; }
    .page.portfolio.single .content .details .info .info-title {
      font-size: 160%;
      color: var(--the-color);
      -webkit-transform: translateX(-20px);
      transform: translateX(-20px); }
    .page.portfolio.single .content .details .info .info-details {
      margin-top: 1.5rem;
      padding-left: 1rem;
      padding-right: 1rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem; }
      .page.portfolio.single .content .details .info .info-details .info-details-item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse; }
        .page.portfolio.single .content .details .info .info-details .info-details-item .item-name {
          color: var(--the-color);
          margin-left: 8px; }
        .page.portfolio.single .content .details .info .info-details .info-details-item .item-value {
          color: #222c; }
    .page.portfolio.single .content .details .info .info-text {
      margin-top: 1.5rem;
      padding: 1rem 2rem; }
    .page.portfolio.single .content .details .info .info-link {
      color: var(--the-color);
      float: left;
      padding: 0.3rem 0.1rem;
      margin-left: 4rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
      cursor: pointer; }
      .page.portfolio.single .content .details .info .info-link:hover {
        background: #3339;
        padding: 0.3rem 2rem;
        margin-left: 2rem; }

.page.portfolio.single .content .screenshots {
  padding-top: 1rem;
  text-align: center; }
  .page.portfolio.single .content .screenshots .image-one {
    background: var(--the-color);
    width: 60%;
    height: 110vh;
    margin: 2rem auto; }
  .page.portfolio.single .content .screenshots .image-two {
    background: var(--the-color);
    width: 60%;
    height: 110vh;
    margin: 2rem auto; }
  .page.portfolio.single .content .screenshots .button {
    background: var(--the-color);
    display: inline-block;
    padding: 0.3rem 2.2rem;
    margin-bottom: 2rem;
    cursor: pointer; }
    .page.portfolio.single .content .screenshots .button:hover {
      padding: 0.3rem 3rem; }
