@-webkit-keyframes socialmediadescanim {
  from {
    right: 40px;
    opacity: 0; }
  to {
    right: 50px;
    opacity: 0.8; } }

@keyframes socialmediadescanim {
  from {
    right: 40px;
    opacity: 0; }
  to {
    right: 50px;
    opacity: 0.8; } }

@-webkit-keyframes socialmediadescaniminPage {
  from {
    left: 40px;
    opacity: 0; }
  to {
    left: 50px;
    opacity: 0.8; } }

@keyframes socialmediadescaniminPage {
  from {
    left: 40px;
    opacity: 0; }
  to {
    left: 50px;
    opacity: 0.8; } }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@-webkit-keyframes fadeInTo1 {
  0% {
    opacity: 0; }
  30% {
    opacity: 0; }
  100% {
    opacity: 0.08; } }

@keyframes fadeInTo1 {
  0% {
    opacity: 0; }
  30% {
    opacity: 0; }
  100% {
    opacity: 0.08; } }

@-webkit-keyframes pagenumberdescanim {
  from {
    top: 10px; }
  to {
    top: 0px; } }

@keyframes pagenumberdescanim {
  from {
    top: 10px; }
  to {
    top: 0px; } }

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@-webkit-keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0; } }

@keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0; } }

@-webkit-keyframes comeRight {
  from {
    margin-right: -20px;
    opacity: 0; }
  to {
    margin-right: 0;
    opacity: 1; } }

@keyframes comeRight {
  from {
    margin-right: -20px;
    opacity: 0; }
  to {
    margin-right: 0;
    opacity: 1; } }

@-webkit-keyframes sectiondotanim {
  0% {
    border-top-color: transparent;
    border-bottom-color: var(--the-color);
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg); }
  90% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
    border-top-color: transparent;
    border-bottom-color: var(--the-color); }
  100% {
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
    border-top-color: var(--the-color);
    border-bottom-color: transparent; } }

@keyframes sectiondotanim {
  0% {
    border-top-color: transparent;
    border-bottom-color: var(--the-color);
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg); }
  90% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
    border-top-color: transparent;
    border-bottom-color: var(--the-color); }
  100% {
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
    border-top-color: var(--the-color);
    border-bottom-color: transparent; } }
