#menu-modal {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0; }
  #menu-modal #call-us {
    -webkit-transform: rotateZ(-90deg);
    transform: rotateZ(-90deg);
    position: absolute;
    bottom: 90px;
    right: 50px;
    right: calc((var(--side-bar-width) - 25px) / 2 * -1);
    font-weight: 900;
    letter-spacing: 0px;
    font-size: 1.6em;
    width: 100px;
    cursor: pointer;
    z-index: 1; }
  #menu-modal .callus-slide:hover:before {
    color: whitesmoke; }

#menu-wraper {
  width: 100%;
  height: 100%;
  background: #ebd300;
  position: relative; }
  #menu-wraper .menu-menu-container {
    position: absolute;
    top: 20vh;
    left: 30vw;
    width: 40vw;
    height: 40vh; }

.menu-item {
  text-align: right;
  font-weight: 900;
  font-size: 5vh;
  cursor: pointer;
  margin-bottom: 2.5%; }
  .menu-item .menu-item-number {
    display: inline-block;
    margin-right: 2vw;
    margin-left: 2vw;
    width: 50px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    font-weight: 300;
    padding-bottom: -9px;
    font-size: 5.1vh; }
  .menu-item .menu-item-title {
    display: inline-block;
    margin-right: 2vw; }
  .menu-item:hover .menu-item-number {
    color: whitesmoke;
    -webkit-transform: translateX(2.5vw);
    transform: translateX(2.5vw);
    border-bottom: 1px solid #333;
    width: 50px;
    -webkit-transition: all 0.35s cubic-bezier(0.68, -0.19, 0, 1.37);
    transition: all 0.35s cubic-bezier(0.68, -0.19, 0, 1.37); }
  .menu-item:hover .menu-item-title {
    color: whitesmoke;
    margin-right: 1vw;
    -webkit-transition: color 0.1s cubic-bezier(1, 0.5, 0.38, 1.2), margin-right 0.35s cubic-bezier(1, 0.5, 0.38, 1.2);
    transition: color 0.1s cubic-bezier(1, 0.5, 0.38, 1.2), margin-right 0.35s cubic-bezier(1, 0.5, 0.38, 1.2); }

.menu-modal-on {
  display: block;
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }
  .menu-modal-on .call-us {
    -webkit-animation: callUsComeUp 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: callUsComeUp 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    -webkit-animation-delay: 1s;
    animation-delay: 1s; }
  .menu-modal-on .menu-item {
    -webkit-animation: menuItemAnim 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: menuItemAnim 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }
    .menu-modal-on .menu-item:nth-child(1) {
      -webkit-animation-delay: 0.3s;
      animation-delay: 0.3s; }
    .menu-modal-on .menu-item:nth-child(2) {
      -webkit-animation-delay: 0.4s;
      animation-delay: 0.4s; }
    .menu-modal-on .menu-item:nth-child(3) {
      -webkit-animation-delay: 0.5s;
      animation-delay: 0.5s; }
    .menu-modal-on .menu-item:nth-child(4) {
      -webkit-animation-delay: 0.6s;
      animation-delay: 0.6s; }
    .menu-modal-on .menu-item:nth-child(5) {
      -webkit-animation-delay: 0.7s;
      animation-delay: 0.7s; }

.menu-modal-off-a {
  -webkit-animation: slide-out-right 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: slide-out-right 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both; }

.menu-modal-off-d {
  display: none; }

@-webkit-keyframes callUsComeUp {
  0% {
    opacity: 0;
    bottom: 20px; }
  100% {
    opacity: 1;
    bottom: 90px; } }

@keyframes callUsComeUp {
  0% {
    opacity: 0;
    bottom: 20px; }
  100% {
    opacity: 1;
    bottom: 90px; } }

@-webkit-keyframes menuItemAnim {
  0% {
    opacity: 0;
    margin-right: 50px; }
  100% {
    opacity: 1;
    margin-right: 0px; } }

@keyframes menuItemAnim {
  0% {
    opacity: 0;
    margin-right: 50px; }
  100% {
    opacity: 1;
    margin-right: 0px; } }
