#menu-modal {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0; }

#menu-wraper {
  width: 100%;
  height: 100%;
  background: #ebd300;
  position: relative; }

.menu-menu-container {
  position: absolute;
  top: 20vh;
  left: 30vw;
  width: 40vw;
  height: 40vh; }

.menu-item {
  text-align: right;
  font-weight: 900;
  font-size: 5vh;
  cursor: default; }
  .menu-item .menu-item-number {
    display: inline-block;
    margin-right: 2vw;
    margin-left: 2vw;
    width: 50px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    font-weight: 300;
    letter-spacing: -4px;
    padding-bottom: -9px;
    font-size: 5.1vh; }
  .menu-item .menu-item-title {
    display: inline-block;
    margin-right: 2vw; }
  .menu-item:hover .menu-item-number {
    color: whitesmoke;
    -webkit-transform: translateX(2.5vw);
    transform: translateX(2.5vw);
    border-bottom: 1px solid #333;
    width: 50px;
    -webkit-transition: all 0.35s cubic-bezier(0.68, -0.19, 0, 1.37);
    transition: all 0.35s cubic-bezier(0.68, -0.19, 0, 1.37); }
  .menu-item:hover .menu-item-title {
    color: whitesmoke;
    margin-right: 1vw;
    -webkit-transition: color 0.1s cubic-bezier(1, 0.5, 0.38, 1.2), margin-right 0.35s cubic-bezier(1, 0.5, 0.38, 1.2);
    transition: color 0.1s cubic-bezier(1, 0.5, 0.38, 1.2), margin-right 0.35s cubic-bezier(1, 0.5, 0.38, 1.2); }

.menu-modal-on {
  display: block;
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

.menu-modal-off-a {
  -webkit-animation: slide-out-right 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: slide-out-right 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both; }

.menu-modal-off-d {
  display: none; }
