.newsletter .wraped {
  padding: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr; }
  .newsletter .wraped .newsletter-item {
    position: relative;
    padding: 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    border: 1px solid #ebd300; }
    .newsletter .wraped .newsletter-item:hover {
      background: #ebd300; }
      .newsletter .wraped .newsletter-item:hover .button {
        background: #3338; }
    .newsletter .wraped .newsletter-item:nth-child(odd) {
      border: 1px solid blue; }
      .newsletter .wraped .newsletter-item:nth-child(odd) .content .side-layer {
        left: 0 !important; }
    .newsletter .wraped .newsletter-item:nth-child(even) {
      border: 1px solid green; }
      .newsletter .wraped .newsletter-item:nth-child(even) .content .side-layer {
        right: 0 !important; }
    .newsletter .wraped .newsletter-item .content .side-layer {
      position: absolute;
      top: 0;
      width: 20%;
      height: 100%;
      border: 5px solid red;
      -webkit-transform: skew(15deg);
      transform: skew(15deg); }
    .newsletter .wraped .newsletter-item .content .title {
      cursor: default;
      font-size: 170%; }
    .newsletter .wraped .newsletter-item .content .text {
      cursor: default; }
    .newsletter .wraped .newsletter-item .content .button {
      padding: 0.2rem 3rem;
      float: left;
      background: #ebd300;
      cursor: pointer; }
