.page {
  height: initial !important; }
  .page.footer .wraped {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .page.footer .wraped .contact {
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
      flex-direction: column-reverse; }
      .page.footer .wraped .contact span {
        color: var(--the-color); }
    .page.footer .wraped .footer-list-container {
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .page.footer .wraped .footer-list-container .list {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%; }
      .page.footer .wraped .footer-list-container .list-title {
        color: var(--the-color);
        font-size: 150%; }
      .page.footer .wraped .footer-list-container .list-item {
        margin-right: 5px;
        cursor: pointer; }
        .page.footer .wraped .footer-list-container .list-item:hover {
          color: var(--the-color); }
  .page .wraped {
    height: initial !important; }
