.services .wraped {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .services .wraped:hover .column {
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%; }
  .services .wraped .column {
    -ms-flex-preferred-size: 33.33%;
    flex-basis: 33.33%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .services .wraped .column:hover {
      -ms-flex-preferred-size: 40%;
      flex-basis: 40%; }
    .services .wraped .column .row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
  .services .wraped .column-one:hover .row-one {
    height: 50%; }
  .services .wraped .column-one:hover .row-two {
    height: 25%; }
  .services .wraped .column-one .row-one {
    height: 64%;
    background: #ebd30044; }
    .services .wraped .column-one .row-one:hover {
      height: 75%; }
  .services .wraped .column-one .row-two {
    height: 36%;
    background: #ebd300c3; }
    .services .wraped .column-one .row-two:hover {
      height: 50%; }
  .services .wraped .column-two:hover .row-one {
    height: 25%; }
  .services .wraped .column-two:hover .row-two {
    height: 25%; }
  .services .wraped .column-two:hover .row-three {
    height: 25%; }
  .services .wraped .column-two .row-one {
    height: 40%;
    background: #ebd3008a; }
    .services .wraped .column-two .row-one:hover {
      height: 50%; }
  .services .wraped .column-two .row-two {
    height: 30%;
    background: #ebd30053; }
    .services .wraped .column-two .row-two:hover {
      height: 50%; }
  .services .wraped .column-two .row-three {
    height: 30%;
    background: #ebd300a3; }
    .services .wraped .column-two .row-three:hover {
      height: 50%; }
  .services .wraped .column-three:hover .row-one {
    height: 30%; }
  .services .wraped .column-three:hover .row-two {
    height: 40%; }
  .services .wraped .column-three .row-one {
    height: 40%;
    background: #ebd3006f; }
    .services .wraped .column-three .row-one:hover {
      height: 60%; }
  .services .wraped .column-three .row-two {
    height: 60%;
    background: #ebd300ba; }
    .services .wraped .column-three .row-two:hover {
      height: 70%; }
  .services .wraped div {
    cursor: default; }
