#call-us-modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  background: #444;

  .wraped {
    width: calc(100vw - (var(--side-bar-width) * 2));
    height: 90vh;
    margin: 5vh auto;
    padding: 60px 60px;
    box-shadow: 0 0 75px rgba(0, 0, 0, .5);
    text-align: right;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  .x-btn {
    position: absolute;
    top: 2.5vh;
    right: 1.6vw;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 3;
  } 
  
  .line {
    background: #ccc;
  }

  .header {
    color: #ebd300;
    text-align: center;
    font-size: 2rem;
  }
  
  .content {
    flex-grow: 1;
    display: flex;
    color: #c4c4c4;
    
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    
    .form {
      flex-basis: 60%;
      
      .title {
        font-size: 1.4rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
      }
      
      .form-group {
        border-bottom: 3px solid #ebd300;
        width: 70%;
        margin: auto;
        margin-top: 15px;

        &:last-child {
          border: none;
        }
        
        label {

          span {
            color: red;
            margin-right: 7px;
          }
        }
        
        input {
          color: #f4f4f4;
          width: 100%;
          background: transparent;
          text-align: center;
          font-size: 1.2rem;
        }
      }

      input[type="submit"] {
        background: #ebd300;
        color: #333;
        width: 70%;
        border: none;
        padding: 0.3rem;
      }
    }
    
    .information {
      flex-basis: 40%;
      
      div {
        display: inline-block;
      }
      
      .info-item {
        border: 1px solid red;
        
        span {
          display: inline-block;
          color: #ebd300;
        }

        .map {
          
          .map-box {
            // border: 1px solid #ebd300;
          }
        }
      }
    }
  }
}

.call-us-off-d {
  display: none;
}

.call-us-off-a {
  animation: fadeOut 0.5s ease-out;
}

.call-us-on {
  display: block;
  animation: fadeIn 0.5s ease-in;
}