@keyframes socialmediadescanim {
  from {
    right: 40px;
    opacity: 0;
  }
  to {
    right: 50px;
    opacity: 0.8;
  }
}

@keyframes socialmediadescaniminPage {
  from {
    left: 40px;
    opacity: 0;
  }
  to {
    left: 50px;
    opacity: 0.8;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeInTo1 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 0.08;
  }
}

@keyframes pagenumberdescanim {
  from {
    top: 10px;
  }
  to {
    top: 0px;
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-out-right {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(1000px);
    opacity: 0;
  }
}

@keyframes comeRight {
  from {
    margin-right: -20px;
    opacity: 0;
  }
  to {
    margin-right: 0;
    opacity: 1;
  }
}

@keyframes sectiondotanim {
  0% {
    border-top-color: transparent;
    border-bottom-color: var(--the-color);
    transform: rotateZ(0deg);
  }
  90% {
    transform: rotateZ(0deg);
    border-top-color: transparent;
    border-bottom-color: var(--the-color);
  }
  100% {
    transform: rotateZ(180deg);
    border-top-color: var(--the-color);
    border-bottom-color: transparent;
  }
}