#left-panel-container {
  position: fixed;
  width: var(--side-bar-width);
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  display: inline-block;
  z-index: 3;
  
  #left-panel {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  #logo {
    position: absolute;
    top: -20px;
    left: -2px;
    transform: scaleY(0.5) scaleX(0.5);
  }
  
  #page-nav {
    position: absolute;
    left: calc((var(--side-bar-width) - 16px) / 2);
    bottom: 30px;
    
    .page-number-section {
      width: 16px;
      height: 16px;
      margin-bottom: 8px;
      text-align: center;
      cursor: pointer;
      position: relative;
      
      &:hover {
        height: 35px;
        margin-top: -7px;
        margin-bottom: 11px;
        
        .page-number-dot {
          background: red;
        }
        
        .page-number {
          display: inline-block;
        }
        
        .page-number-desc {
          position: absolute;
          display: inline-block;
          animation: pagenumberdescanim 0.3s ease-in-out;
          top: 0 !important;
        }
      }
      
      &.active {
        
        .page-number-dot {
          background: red;
        }
      }
      
      .page-number {
        display: none;
        margin: 0 0 0 -6px;
        cursor: default;
        font-weight: 900;
        font-size: 0.95em;
        cursor: pointer;
      }
      
      .page-number-dot {
        width: 8px;
        height: 8px;
        background: #222;
        border-radius: 50px;
        box-shadow: -2px 2px 5px rgba(0, 0, 0, .5);
        cursor: pointer;
      }
      
      .page-number-desc {
        width: 100px;
        top: 0px;
        left: 30px;
        text-align: left;
        color: #444;
        padding: 1px 4px;
        display: none;
      }
    }
  }
}