#menu-modal {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;

  #call-us {
    transform: rotateZ(-90deg);
    position: absolute;
    bottom: 90px;
    right: 50px;
    right: calc((var(--side-bar-width) - 25px) / 2 * -1);
    font-weight: 900;
    letter-spacing: 0px;
    font-size: 1.6em;
    width: 100px;
    cursor: pointer;
    z-index: 1;
  }

  .callus-slide:hover:before{
    color:whitesmoke;
  }
}

#menu-wraper {
  width: 100%;
  height: 100%;
  background: #ebd300;
  position: relative;
  
  .menu-menu-container {
    position: absolute;
    top: 20vh;
    left: 30vw;
    width: 40vw;
    height: 40vh;
  }
}

.menu-item {
  text-align: right;
  font-weight: 900;
  font-size: 5vh;
  cursor: pointer;
  margin-bottom: 2.5%;

  .menu-item-number {
    display: inline-block;
    margin-right: 2vw;
    margin-left: 2vw;
    width: 50px;
    transform: rotate(-90deg);
    font-weight: 300;
    padding-bottom: -9px;
    font-size: 5.1vh;
  }

  .menu-item-title {
    display: inline-block;
    margin-right: 2vw;
  }

  &:hover {

    .menu-item-number {
      color: whitesmoke;
      transform: translateX(2.5vw);
      border-bottom: 1px solid #333;
      width: 50px;
      transition: all .35s cubic-bezier(.68, -.19, 0, 1.37);
    }

    .menu-item-title {
      color: whitesmoke;
      margin-right: 1vw;
      transition: color .1s cubic-bezier(1, .5, .38, 1.2), margin-right .35s cubic-bezier(1, .5, .38, 1.2);
    }
  }
}

.menu-modal-on {
  display: block;
  animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  
  .call-us {
    animation: callUsComeUp 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-delay: 1s;
  }
  
  .menu-item {
    animation: menuItemAnim 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    
    &:nth-child(1) {
      animation-delay: 0.3s;
    }
    
    &:nth-child(2) {
      animation-delay: 0.4s;
    }
    
    &:nth-child(3) {
      animation-delay: 0.5s;
    }
    
    &:nth-child(4) {
      animation-delay: 0.6s;
    }
  }
}

.menu-modal-off-a {
  animation: slide-out-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.menu-modal-off-d {
  display: none;
}

@keyframes callUsComeUp {
  0% {
    opacity: 0;
    bottom: 20px;
  }
  100% {
    opacity: 1;
    bottom: 90px;
  }
}

@keyframes menuItemAnim {
  0% {
    opacity: 0;
    margin-right: 50px;
  }
  100% {
    opacity: 1;
    margin-right: 0px;
  }
}