.page.newsletter {

  .wraped {
    position: relative;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .page-header {
    position: relative;
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 350%;
    margin-bottom: 70px;
    background: var(--the-color);
  }
  
  .news-item {
    position: relative;
    width: 80%;
    margin-bottom: 60px;
    display: flex;
    padding: 0.4rem;
    flex-direction: row;
    
    &:last-child {
      margin-bottom: 40px;
    }
    
    &:nth-child(odd) {
      margin-left: 20%;

      .news-button {
        background: var(--the-color);
      }
    }
    
    &:nth-child(even) {
      
      .news-back-layer {
        left: -90%;
      }
    }
    
    .news-back-layer {
      position: absolute;
      z-index: -1;
      height: 110%;
      top: -5%;
      left: -10%;
      width: 200%;
      background: #3332;
      transform: skew(-15deg);
    }

    .news-image {
      background: #3335;
      flex-basis: 30%;

      img {
        width: 100%;
      }
    }
    
    .news-info {
      display: flex;
      flex-direction: column;
      flex-basis: 70%;
      
      .news-title {
        font-size: 160%;
        color: #333c;
        filter: brightness(75%);
        cursor: pointer;
        margin: {
          right: 1rem;
          bottom: 10px;
        }
      }
      
      .news-text {
        margin-bottom: 30px;
        padding: 1rem;
      }
      
      .news-button {
        width: 20%;
        margin-left: 13%;
        background: var(--the-color);
        text-align: center;
        float: left;
        padding: 0.1rem;
        cursor: pointer;
        
        &:hover {
          filter: brightness(100%);
        }
      }
      
      .news-footer {
        position: absolute;
        width: 30%;
        bottom: 0;
        right: 0;
        display: flex;
        
        .news-date {
          display: inline-block;
          color: #3337;
          cursor: default;
          
          &:hover {
            
            color: #333e;
          }
        }
        
        .news-auther {
          display: inline-block;
          margin-left: 15px;
          margin-right: 15px;
          cursor: pointer;
          color: #3337;
          
          &:hover {
            color: #333e;
          }
        }
      }
    }
  }
}