.page.newsletter.single {
  
  .header {
    margin-bottom: 6vh;
    
    .image {
      width: 100%;
      height: 30vh;
      background: var(--the-color);
    }
  }
  
  .title {
    font-weight: 500;
    font-size: 220%;
    transform: translateX(-35px);
  }
  
  .text {
    padding: 20px;
  }

  .footer {
    display: flex;
    
    .date {
      margin: 10px;
      color: #3338;
      
      &:hover {
        color: #333e;
      }
    }
    
    .auther {
      margin: 10px;
      color: #3338;
      cursor: pointer;
      
      &:hover {
        color: #333e;
      }
    }
  }
  
  .other-posts {
    margin-top: 4.5vh;
    display: flex;
    justify-content: space-between;
    
    .prev-post {
      flex-basis: 30%;
      cursor: pointer;
      padding: 0.5rem;
      
      &:hover {
        background: #5552;
      }
      
      .title {
        font-weight: 500;
        font-size: 130%;
        transform: translateX(-10px);
      }
      
      .text {
        padding: 5px;
      }
      
      .button {
        background: var(--the-color);
        float: left;
        padding: 0.1rem 1.5rem;

        &:hover {
          filter: brightness(90%);
        }
      }
      
      .footer {
        display: inline-block;

        .auther {
          margin: 0;
        }
      }
    }
    
    .next-post {
      flex-basis: 30%;
      cursor: pointer;
      padding: 0.5rem;

      &:hover {
        background: #5552;
      }
      
      .title {
        font-weight: 500;
        font-size: 130%;
        transform: translateX(-10px);
      }
      
      .text {
        padding: 5px;
      }
      
      .button {
        background: var(--the-color);
        float: left;
        padding: 0.1rem 1.5rem;

        &:hover {
          filter: brightness(90%);
        }
      }

      .footer {
        display: inline-block;

        .auther {
          margin: 0;
        }
      }
    }
  }
}

.page.newsletter.single.comment {
  
  .wraped {
    margin-top: -2vh;
    padding: 25px;
  }
  
  .add-comment-box {
    margin-top: 1vh;
    background: #3331;
    padding: 0.7rem;
    
    .title {
      margin-bottom: 1.3vh;
      font-size: 120%;
    }

    .form-group {
      display: flex;
      flex-direction: row-reverse;

      label {
        flex-basis: 90px;
      }

      input {
        text-align: right;
      }

      input[type="submit"] {
        background: var(--the-color);
        transform: translateX(-90px);
        padding: 0.1rem 1rem;
      }
    }
  }

  .single-comment {
    margin-top: 4vh;
    display: flex;
    flex-direction: row-reverse;
    
    .avatar {
      background: var(--the-color);
      width: 60px;
      height: 60px;
    }

    .content {
      position: relative;
      padding: 0.4rem;
      margin-right: 40px;
      background: #3332;
      
      .name {
        margin-right: 12px;
      }
      
      .text {
        padding: 0.7rem;
      }

      .arrow {
        position: absolute;
        width: 0;
        height: 0;
        border: 10px solid #3332;
        border-right-color: transparent;
        border-bottom-color: transparent;
        top: 0;
        right: -20px;
      }
    }
  }
}