.page {
  height: initial !important;

  &.footer {
    
    .wraped {
      display: flex;
      
      .contact {
        flex-basis: 50%;
        display: flex;
        flex-direction: column-reverse;

        span {
          color: var(--the-color);
        }
      }
      
      .footer-list-container {
        flex-basis: 50%;
        display: flex;
        
        .list {
          flex-basis: 50%;
        }

        .list-title {
          color: var(--the-color);
          font-size: 150%;
        }
        
        .list-item {
          margin-right: 5px;
          cursor: pointer;

          &:hover {
            color: var(--the-color);
          }
        }
      }
    }
  }
  
  .wraped {
    height: initial !important;
  }

  
}