.services {
  
  .wraped {
    padding: 0;
    display: flex;
    
    &:hover {

      .column {
        flex-basis: 30%;
      }
    }
    
    .column {
      flex-basis: 33.33%;
      display: flex;
      flex-direction: column;
      
      &:hover {
        flex-basis: 40%;
      }
      
      .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        &:hover {

          .button {
            opacity: 1;
            margin-top: 0.5rem;
          }
        }
        
        .button {
          background: #3337;
          padding: 0.15rem 1rem;
          margin-top: -1.8rem;
          opacity: 0;
          cursor: pointer;
        }
      }
    }

    .column-one {

      &:hover {
        
        .row-one {
          height: 50%;
        }

        .row-two {
          height: 25%;
        }
      }

      .row-one {
        height: 64%;
        background: #ebd30044;
        
        &:hover {
          height: 75%;
        }
      }
      
      .row-two {
        height: 36%;
        background: #ebd300c3;
        
        &:hover {
          height: 50%;
        }
      }
    }
    
    .column-two {
      
      &:hover {
        .row-one {
          height: 25%;
        }
        
        .row-two {
          height: 25%;
        }
        
        .row-three {
          height: 25%;
        }  
      }
      
      .row-one {
        height: 40%;
        background: #ebd3008a;
        
        &:hover {
          height: 50%;
        }
      }
      
      .row-two {
        height: 30%;
        background: #ebd30053;
        
        &:hover {
          height: 50%;
        }
      }
      
      .row-three {
        height: 30%;
        background: #ebd300a3;
        
        &:hover {
          height: 50%;
        }
      }
    }
    
    .column-three {
      
      &:hover {
        
        .row-one {
          height: 30%;
        }
        
        .row-two {
          height: 40%;
        }
      }
      
      .row-one {
        height: 40%;
        background: #ebd3006f;
        
        &:hover {
          height: 60%;
        }
      }
      
      .row-two {
        height: 60%;
        background: #ebd300ba;
        
        &:hover {
          height: 70%;
        }
      }
    }

    div {
      cursor: default;
      // border: 1px solid red;
    }
  }
}