.page.services.single {

  .service-header {
    width: 100%;
    height: 45vh;
    background: var(--the-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: auto auto;
    background-color: #ebd30044;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 10px, #ebd300 10px, #ebd300 20px );

    .title {
      font-size: 700%;
      font-weight: 100;
    }
    
    .sub-title {
      color: #333e;

      span {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
        color: var(--the-color);
        background: #333c;
        
        &:hover {
          color: #333e;
          background: var(--the-color);
        }
      }
    }
  }

  .content {
    margin-top: 5vh;
    padding: {
      right: 50px;
      left: 50px;
    }
    
    .page-row {
      display: flex;
      height: 35vh;
      
      .page-column {
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-basis: 33.33%;

        .title {
          color: var(--the-color);
          filter: brightness(90%);
          font-size: 350%;
        }
        
        .image {
          width: 100%;
          height: 100%;
          background: var(--the-color); 
        }
      }
    }
  }

  .service-footer {
    position: relative;
    margin-top: 12vh;
    display: flex;
    
    .service-footer-title {
      position: absolute;
      right: 0;
      top: -2.3rem;
      font-size: 140%;
    }
    
    .service-footer-item {
      position: relative;
      height: 150px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-basis: calc(100% / 6);
      cursor: pointer;
      color: var(--the-color);
      
      &:hover {
        color: #333;

        .backgorund {
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
        } 
      }

      .backgorund {
        position: absolute;
        width: 0;
        height: 0%;
        top: 50%;
        left: 50%;
        background: var(--the-color);
        z-index: -1;
      }
    }
  }
}